.contact {
    padding-top: 100px;

    font-size: 3vw;
    margin-bottom: 40px;
}

.titleContact {
    text-align: center;
}

.containerContact{
    display: flex;
    justify-content: center;
    
    padding: 80px;

    position: relative;
}

.containerContact .leftContact{
    width: 60%;
}

.containerContact .leftContact form input,
.containerContact .leftContact form textarea {
    display: inline-block;
    width: 80%;
    padding: 20px;
    margin-right: 10%;
    resize: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);

    margin-top: 0;
    caret-color: var(--mainColor);
    
}
/* remove arrows from input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* remove focus from input */
textarea:focus, input:focus{
    outline: none;
}

.containerContact .leftContact form label{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}


.containerContact .leftContact form div {
    display: flex;
    align-items: center;
}

.containerContact .leftContact form div button {
    box-sizing: border-box;
    display: inline-block;
    width: 85%;
    margin-top: 60px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: #333;

    color: white;
    font-size: 20px;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

}
.containerContact .leftContact form div button::after{
    content: '';
    position: absolute;
    right: 10vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' viewBox='0 0 1792 1792'%3E%3Cpath fill='white' d='M1764 11q33 24 27 64l-256 1536q-5 29-32 45q-14 8-31 8q-11 0-24-5l-453-185l-242 295q-18 23-49 23q-13 0-22-4q-19-7-30.5-23.5T640 1728v-349l864-1059l-1069 925l-395-162q-37-14-40-55q-2-40 32-59L1696 9q15-9 32-9q20 0 36 11'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    transform: translate(-100px,100px);
    
}
.containerContact .leftContact form div button:hover::after{
    animation: submit .3s forwards;
}
@keyframes submit {
    to{
        transform: translate(0);
    }
}
.containerContact .leftContact form div button:not(:hover)::after{
    animation: removeSubmit .3s forwards;
}
@keyframes removeSubmit {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(100px,-100px);
    }
}




.containerContact .rightContact{
    font-family: sans-serif;
    width: 40%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.containerContact .rightContact .backdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 70%;

    padding: 10%;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
}
.containerContact .circle{
    position: absolute;

    width: 7vw;
    height: 7vw;
    border-radius: 50%;

    background-color: var(--mainColor);
    
    z-index: -1;
    animation: circ 5s infinite alternate;
}
@keyframes circ {
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}
.containerContact .circle:nth-child(2){
    top: 45px;
    left: 20px;
}
.containerContact .circle:nth-child(3){
    top: -5px;
    right: -45px;
}
.containerContact .circle:nth-child(4){
    bottom: 45px;
    right: 20px;
}
.containerContact .circle:nth-child(5){
    bottom: -5px;
    left: -45px;
}
.containerContact .rightContact h3{
    text-align: center;
    font-size: 2.2vw;
    color: var(--mainColor);
    line-height: 1.3em;
}
.containerContact .rightContact h6{
    font-size: 1.2vw;
    font-weight: 100;
    color: var(--subText);
}
.containerContact .rightContact p{
    font-size: 1.2vw;
    font-weight: 100;
    color: var(--subText);

    position: relative;
    bottom: 0;
}




@media (max-width:800px) {

    .titleContact {
        font-size: 40px;
    }

}