.main {

    display: flex;
    justify-content: center;
    padding: 80px;
    padding-top: 150px;
    column-gap: 10%;
    overflow: hidden;

}

.intro {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro p {
    font-family: sans-serif;
}


.intro p:nth-child(1) {
    font-size: 3.8vw;
    margin-top: 20px;
    margin-bottom: 40px;
}

.endIntro {
    position: relative;
    font-size: 2vw;
    margin-top: 40px;
}

.endIntro::after {
    content: '';
    position: absolute;
    transform: translate(10px, 15px);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondColor);
}

.endIntro::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(15px);

    width: 13vw;
    height: 3px;
    background-color: var(--secondColor);
    border: qpx solid var(--mainColor);
}



.downloadCV {
    display: inline-block;
    width: fit-content;
    margin-top: 60px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: #333;

    color: white;
    font-size: 20px;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.downloadCV::before,
.downloadCV::after {
    content: '';
    position: absolute;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mainColor);
    z-index: -1;
}

.downloadCV::before {
    left: -20px;
}

.downloadCV::after {
    right: -20px;
}

.downloadCV:hover::before {
    animation: leftCircle .6s linear forwards;
}

@keyframes leftCircle {
    60% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: 46%;
        transform: scale(12);
    }
}
.downloadCV:not(:hover)::before {
    animation: removeLeftCircle .6s linear forwards;
}
@keyframes removeLeftCircle {
    0% {
        left: 46%;
        transform: scale(12);
    }

    40% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: -20px;
    }
}

.downloadCV:hover::after {
    animation: rightCircle .6s linear forwards;
}

@keyframes rightCircle {
    60% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: 46%;
        transform: scale(12);
    }
}
.downloadCV:not(:hover)::after {
    animation: removeRightCircle .6s linear forwards;
}
@keyframes removeRightCircle {
    0% {
        right: 46%;
        transform: scale(12);
    }

    40% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: -20px;
    }
}



.pic {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pic div {
    background-image: url(../Images/Anas_Attoum_Pic.jpg);
    background-size: cover;

    width: 20vw;
    height: 20vw;

    border: 7px solid #E5DBF6;
    border-radius: 30px;

    position: relative;

}


.pic div::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;

    width: 100%;
    height: 100%;

    z-index: -1;

    border-radius: 20px;

    border: 7px solid transparent;
    background: linear-gradient(45deg, #E5DBF6, #fff) border-box;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pic div::before {
    content: '';
    position: absolute;
    top: -210px;
    left: 210px;

    width: 600px;
    height: 600px;

    background-color: var(--secondColor);

    border-radius: 10px;

    transform: rotate(65deg);

    z-index: -2;

    animation: shape 20s linear infinite alternate;
}

@keyframes shape {
    0% {
        transform: rotate(60deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(60deg);
    }

    75% {
        transform: rotate(75deg);
    }

    100% {
        transform: rotate(65deg);
    }
}


@media (max-width:800px) {

    .main {
        flex-direction: column;
        padding-top: 150px;
    }

    .intro {
        width: 95%;
    }


    .intro p:nth-child(1) {
        font-size: 40px;
    }

    .endIntro {
        font-size: 24px;
    }

    .endIntro::before {
        width: 120px;
    }

    .downloadCV {
        width: fit-content;
        margin-top: 60px;
        height: fit-content;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .pic {
        padding-top: 200px;
        width: 95%;
    }

    .pic div {
        width: 45vw;
        height: 45vw;
    }

    .pic div::before {
        top: -100px;
        left: 210px;

        width: 50vw;
        height: 50vw;
    }

    @keyframes shape {
        0% {
            transform: rotate(70deg);
        }

        25% {
            transform: rotate(80deg);
        }

        50% {
            transform: rotate(70deg);
        }

        75% {
            transform: rotate(75deg);
        }

        100% {
            transform: rotate(65deg);
        }
    }


}

@media (max-width:555px) {
    .main {
        padding: 30px;
        padding-top: 150px;
    }

    .intro {
        width: 100%;
        height: 50vh;
    }

    .intro p:nth-child(1) {
        font-size: 30px;
    }

    .endIntro {
        font-size: 24px;
    }

    .pic {
        padding-top: 0px;
        height: 50vh;
    }

    .pic div::before {
        top: -60px;
        left: 170px;

        width: 60vw;
        height: 60vw;
    }

}

@media (max-width:375px) {
    .downloadCV{
        font-size: 16px;
        padding-bottom: 20px;
    }
}
