.main {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.intro {
    width: 60%;
}

.intro p {
    font-family: sans-serif;
}

.intro p:nth-child(1) {
    font-size: 26px;
    margin: 0;

    opacity: 0;
    letter-spacing: 20px;
    animation: p1 1s linear .5s forwards;
}

@keyframes p1 {
    100% {
        opacity: 1;
        letter-spacing: normal;
    }
}

.intro p:nth-child(2) {
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 40px;

    opacity: 0;
    transform: translateX(-50px);
    animation: p2 .5s linear 1.5s forwards;
}

@keyframes p2 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.intro p:nth-child(3) {
    font-size: 18px;
    color: var(--subText);
    margin: 0;
    line-height: 1.5em;

    opacity: 0;
    transform: translateX(100px);
    animation: p3 .5s linear 2s forwards;
}

@keyframes p3 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.endIntro {
    position: relative;
    font-size: 26px;
    margin-top: 40px;

    opacity: 0;
    transform: translateY(50px);
    animation: p4 .5s linear 2.5s forwards;
}

@keyframes p4 {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.endIntro::after {
    content: '';
    position: absolute;
    transform: translate(10px, 15px);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondColor);
}

.endIntro::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(15px);

    width: 200px;
    height: 3px;
    background-color: var(--secondColor);
}


.pic {
    width: 25%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 75px;
}

.pic div {
    background-image: url(../Images/Anas_Attoum_Pic.jpg);
    background-size: cover;

    width: 300px;
    height: 300px;

    border: 7px solid #E5DBF6;
    border-radius: 30px;

    position: relative;

    
}


.pic div::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;

    width: 100%;
    height: 100%;

    z-index: -1;

    border-radius: 20px;

    border: 7px solid transparent;
    background: linear-gradient(45deg, #E5DBF6, #fff) border-box;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pic div::before {
    content: '';
    position: absolute;
    top: -210px;
    left: 210px;

    width: 600px;
    height: 600px;

    background-color: var(--secondColor);

    border-radius: 10px;

    transform: rotate(65deg);

    z-index: -2;

    animation: shape 30s linear infinite alternate-reverse;
}
@keyframes shape{
    50%{
        transform: rotate(60deg);
    }
    75%{
        transform: rotate(75deg);
    }
    100%{
        transform: rotate(65deg);
    }
}