.projects {
    padding-top: 100px;

    font-size: 3vw;
    margin-bottom: 40px;
}

.titleProjects {
    text-align: center;
}

.containerProjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8%;
    padding: 80px;
}

.cardProjects {
    width: 30vw;
    height: 14vw;

    margin-bottom: 7%;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProjects>div:nth-child(1) {
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

.cardProjects:nth-child(1) div:nth-child(1) {
    background-image: url(../Images/Our_Journey_Blog.png);
}

.cardProjects:nth-child(2) div:nth-child(1) {
    background-image: url(../Images/Cupcakes_Cards.png);
}

.cardProjects .leftCardProjects,
.cardProjects .rightCardProjects {
    position: absolute;

    width: 50%;
    height: 0%;

    background-color: var(--mainColorOpacity);
    transition: all .3s;
    overflow: hidden;
}

.cardProjects .leftCardProjects {
    top: 0;
    left: 0;
}

.cardProjects .rightCardProjects {
    bottom: 0;
    right: 0;
}

.cardProjects:hover .leftCardProjects,
.cardProjects:hover .rightCardProjects {
    height: 100%;
    backdrop-filter: blur(3px);
}

.cardProjects .details{
    position: absolute;
    font-size: 25px;
    padding: 5px;

    opacity: 0;
    transition: all .3s;

    cursor: pointer;
    color: white;
    background-color: #111;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
}
.cardProjects:hover .details{
    position: absolute;
    opacity: 1;
    overflow: hidden;
}
.cardProjects:hover .details span{
    position: relative;
    z-index: 1;
}

.cardProjects .details::before,
.cardProjects .details::after {
    z-index: 0;
    content: '';
    position: absolute;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.cardProjects .details:hover::before {
    left: -20px;
}

.cardProjects .details:hover::after {
    right: -20px;
}
.cardProjects .details:hover::before {
    animation: leftCircleProjects .6s linear forwards;
}

@keyframes leftCircleProjects {
    60% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: 46%;
        transform: scale(13);
    }
}
.cardProjects .details:not(:hover)::before {
    animation: removeLeftCircleProjects .6s linear forwards;
}
@keyframes removeLeftCircleProjects {
    0% {
        left: 46%;
        transform: scale(13);
    }

    40% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: -20px;
    }
}


.cardProjects .details:hover::after {
    animation: rightCircleProjects .6s linear forwards;
}

@keyframes rightCircleProjects {
    60% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: 46%;
        transform: scale(13);
    }
}
.cardProjects .details:not(:hover)::after {
    animation: removeRightCircleProjects .6s linear forwards;
}
@keyframes removeRightCircleProjects {
    0% {
        right: 46%;
        transform: scale(13);
    }

    40% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: -20px;
    }
}




@media (max-width:800px) {

    .titleProjects {
        font-size: 40px;
    }

    .cardProjects {
        width: 100vw;
        height: 38vw;
    
        margin-bottom: 7%;
    }

}